body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

.skillTreeControls {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 1.5em;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.skillTreeVersions {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 1.5em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

label {
    width: 4em;
    height: 1.5em;
    display: inline-block;
}

select {
    width: 8em;
    height: 1.5em;
}

input {
    width: 7.7em;
    height: 1.2em;
}

button {
    height: 1.5em;
}

input, select, button {
    background: #333;
    border: 1px solid #999;
    color: #FFF;
    margin: 0 0 0.25em 0.25em;
    display: inline-block;
}

.skillTreePoints {
    position: fixed;
    top: 0;
    left: 0;
    height: 1.5em;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.skillTreeNodes {
    background-image: url('/data/PSPointsFrame.png');
    background-size: 120px 25px;
    margin-right: 0.5em;
    width: 120px;
    height: 25px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: #FFFFFF;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#skillTreeJewelPopupOk {
    float: right;
    margin-right: .2em;
    margin-top: .5em;
}

#skillTreeJewelPopup {
    background: #333;
    border: 1px solid #999;
    color: #FFF;
    width: 11em;
    padding: 0.5em;
    position: fixed;
    left: 45%;
    top: 30%;
}