<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="skillTreeContainer">
        <div class="skillTreePoints">
            <div id="skillTreeSkillPoints"></div>
            <div id="skillTreeAscSkillPoints"></div>
        </div>
        <div class="skillTreeControls">
            <input type="text" id="skillTreeControl_Search" placeholder="Search" />
            <select id="skillTreeControl_Class">
                <option value="3" selected="selected">Witch</option>
            </select>
            <select id="skillTreeControl_Ascendancy">
                <option value="0" selected="selected">None</option>
            </select>
        </div>
    </div>
</body>
</html>