<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body style="background-color: black;">
    <div id="skillTreeContainer">
        <div id="skillTreeJewelPopup" style="display: none;">
            <label for="skillTreeJewelPopupSize">Size: </label>
            <select id="skillTreeJewelPopupSize">
                <option value="Large">Large</option>
                <option value="Medium">Medium</option>
                <option value="Small">Small</option>
                <option value="None">None</option>
            </select>
            <br>
            <label for="skillTreeJewelPopupFaction">Faction: </label>
            <select id="skillTreeJewelPopupFaction"></select>
            <br>
            <div id="skillTreeJewelPopupFactionRequired" style="display: none">
                <label for="skillTreeJewelPopupSeed">Seed: </label>
                <input id="skillTreeJewelPopupSeed">
                <br>
                <label for="skillTreeJewelPopupName">Name: </label>
                <select id="skillTreeJewelPopupName"></select>
                <br>
            </div>
            <button id="skillTreeJewelPopupOk">Ok</button>
        </div>
        <div id="skillTreeAlternateNodePopup" style="display: none">
            <label>Replace: </label>
            <select id="skillTreeAlternateNodePopupReplace"></select>
            <label id="skillTreeAlternateNodePopupAdditional1Label">Option: </label>
            <select id="skillTreeAlternateNodePopupAdditional1"></select>
            <div id="skillTreeAlternateNodePopupVaalRequired" style="display: none;">
                <label id="skillTreeAlternateNodePopupAdditional2Label">Option 2: </label>
                <select id="skillTreeAlternateNodePopupAdditional2"></select>
                <label id="skillTreeAlternateNodePopupAdditional2Label">Option 3: </label>
                <select id="skillTreeAlternateNodePopupAdditional3"></select>
                <label id="skillTreeAlternateNodePopupAdditional2Label">Option 4: </label>
                <select id="skillTreeAlternateNodePopupAdditional4"></select>
            </div>

            <button id="skillTreeAlternateNodePopupOk">Ok</button>
        </div>
        <div class="skillTreePoints" style="display: none;">
            <div id="skillTreeNormal" class="skillTreeNodes"><span id="skillTreeNormalNodeCount">0</span>/<span id="skillTreeNormalNodeCountMaximum">121</span></div>
            <div id="skillTreeAscendancy" class="skillTreeNodes"><span id="skillTreeAscendancyNodeCount">0</span>/<span id="skillTreeAscendancyNodeCountMaximum">8</span></div>
        </div>
        <div class="skillTreeControls" style="display: none;">
            <input type="text" id="skillTreeControl_Search" placeholder="Search" />
            <select id="skillTreeControl_Class">
                <option value="3" selected="selected">Witch</option>
            </select>
            <select id="skillTreeControl_Ascendancy">
                <option value="0" selected="selected">None</option>
            </select>
        </div>
        <div class="skillTreeVersions" style="display: none;">
            <select id="skillTreeControl_Version">
                <option value="0" selected="selected">Version</option>
            </select>
            <select id="skillTreeControl_VersionCompare">
                <option value="0" selected="selected">Compare</option>
            </select>
            <button id="skillTreeControl_VersionGo">Go</button>
            <button id="skillTreeControl_Screenshot" style="display: none">Screenshot</button>
        </div>
    </div>
</body>
</html>